/** Homepage Container Div **/
.container {
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/** Homepage overall styles **/
h1,
h2 {
  color: #2d2d42;
}

.container h3,
p {
  color: #2d2d42b0;
  font-weight: 500;
}

button {
  margin: 0;
  border-radius: 0.4rem;
  color: rgba(126, 78, 182, 0.938);
  background-color: rgba(217, 199, 239, 0.754);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.7rem 1.4rem;
  border: 0 solid #e5e7eb;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
}

button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(126 78 182 / var(--tw-bg-opacity));
  color: rgb(255 255 255 / var(--tw-bg-opacity));
}

/** Song/Album promotional section **/

.promoSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 4rem 10rem;
  border-radius: 2rem;
  box-shadow: 15px 20px 40px rgba(216, 211, 211, 0.4);
}

.promoAlbumCover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8rem;
}

.promoAlbumCover img {
  height: 25rem;
  width: 25rem;
  border-radius: 0.7rem;
}

.promoDetails {
  display: flex;
  text-align: left;
  width: 25rem;
  align-items: flex-start;
  flex-direction: column;
}

.promoDetails h3 {
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.promoDetails h1 {
  word-wrap: break-word;
  width: 100%;
  justify-content: left;
  font-size: 3rem;
  display: flex;
  margin-bottom: 3rem;
}

/** Section one - explore music section **/
.sectionOne {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 4rem 10rem;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
}

.sectionTitle h1 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
  font-size: 3rem;
}

.sectionTitle p {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  container {
    padding: 2rem 2rem;
  }
}
