/** Homepage Song/Album promotional section **/
.promoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  border-radius: 2rem;
  box-shadow: 15px 20px 40px rgba(216, 211, 211, 0.4);
}

.promoAlbumCover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.promoAlbumCover img {
  height: 300px;
  width: 300px;
  border-radius: 0.7rem;
}

.promoDetails {
  display: flex;
  text-align: left;
  width: 25rem;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 4rem;
}

.promoDetails h3 {
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.promoDetails h1 {
  word-wrap: break-word;
  width: 100%;
  justify-content: left;
  font-size: 3rem;
  display: flex;
  margin-bottom: 3rem;
}

/** Section one - explore music section **/
.sectionOne {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 4rem 10rem;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
}

.sectionTitle h1 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
  font-size: 3rem;
}

.sectionTitle p {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .promoSection {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .promoDetails {
    margin-top: 1rem;
  }

  .sectionOne {
    padding: 4rem 2rem;
  }
}
